*{
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}
html,body{
  height: 100vh;
  background-color:black;
}
h1,h1,h3,h4,h5,button{
  font-family: 'Raleway',sans-serif;
}
hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  margin: 2em 0;
}
h1{
  color:white
}
header{
  width:100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding:1rem;
  box-sizing:border-box;
  background-image: url(images/cyberpunk.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  margin-bottom:10px;
  line-height:130%;
  font-size:16px;
}
i{
color:black;
}

/* container */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .buttonbar{
    flex-direction: row !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* buttons */
.buttonbar{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.btn{
  border: none;
  background: rgba(255, 255, 255, 0.95);
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin:1em;
  text-decoration: none;
  color: #ff5e7a !important;
  text-align: center;
}
.btn:hover {
  color: #ff5e7a !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: white;
  -webkit-box-shadow: 0px 5px 40px -10px #ff375a;
  -moz-box-shadow: 0px 5px 40px -10px #ff375a;
  transition: all 0.3s ease 0s;
}

/* modals */
#backdrop > div{
  background-color: black;
  opacity:0.5;
  display: none;
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  z-index: 500;
}
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width:100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow-y: auto;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  /* width: 400px; */
  text-align: center;
  width:70%;
  position: relative;
  margin: 10% auto;
  padding: 1rem 2rem;
  border-radius: 10px;
  background: rgb(36,15,36);
  background: rgba(35,15,35,0.9);
  line-height: 1.5;
  -webkit-box-shadow: 0px 5px 40px -10px #ff375a;
  -moz-box-shadow: 0px 5px 40px -10px #ff375a;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { 
  background: #00d9ff; 
}

/* project */

.project{
  width:80%;
  margin: 1em auto;
}
.project > img{
  width:90%;
  display: block;
  margin: auto;
  margin:1em 0;
}

@media(min-width:800px){
  .project > img{
    height:10em;
  }
  .project{
    width:100%;
  }
}


/* contact section*/
.contact-bar{
  width:20%;
  margin:2em auto;
  display: flex;
  justify-content: space-around;
}

@media(max-width:640px){
  .contact-bar{
    width:30%;
  }
}

.social,.social:hover{
    background: none;
    border: none;
    box-shadow: none;
}

#email{
  font-size: 100%;
}

/* scrollbar */
::-webkit-scrollbar {
  display: none;
}